<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.1" targetFramework="net45" />
  <package id="EntityFramework.BulkInsert-ef6" version="6.0.2.8" targetFramework="net45" />
  <package id="EntityFramework.Extended" version="6.1.0.95" targetFramework="net45" />
  <package id="EntityFramework.MappingAPI" version="6.0.0.7" targetFramework="net45" />
  <package id="EntityFrameworkExtensions" version="0.9.0.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net45" />
</packages>