@model System.String
@using Sanatana.Notifications.Demo.Sender.Resources;

@if(Model == null)
{
    @TemplateContent.Footer_NullDemoMessage
}
else
{
    @TemplateContent.Footer_Unsubscribe <a href="@Model">@Model</a>
}
