<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\;Initial Catalog=SanatanaNotificationsDemo;integrated security=true;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultServiceBehavior">
          <serviceMetadata httpGetEnabled="False"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
          <serviceThrottling maxConcurrentCalls="50" maxConcurrentSessions="50" maxConcurrentInstances="50"/>
          <dataContractSerializer maxItemsInObjectGraph="1000" ignoreExtensionDataObject="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="MainTcp" portSharingEnabled="false" transferMode="Buffered" openTimeout="00:00:30" closeTimeout="00:00:30" receiveTimeout="00:02:00" sendTimeout="00:02:00" maxReceivedMessageSize="105000" maxBufferSize="105000" maxBufferPoolSize="220000">
          <security mode="None">
            <message clientCredentialType="None"/>
            <transport clientCredentialType="None"/>
          </security>
          <readerQuotas maxStringContentLength="105000" maxDepth="25" maxArrayLength="1000" maxBytesPerRead="105000" maxNameTableCharCount="105000"/>
        </binding>
      </netTcpBinding>
      <netNamedPipeBinding>
        <binding name="MainNetNamedPipe">
          <security mode="None"/>
          <readerQuotas maxStringContentLength="105000" maxDepth="25" maxArrayLength="1000" maxBytesPerRead="105000" maxNameTableCharCount="105000"/>
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <!--<services>
      <service name="Sanatana.Notifications.SignalProviders.WCF.SignalService`1[[MongoDB.Bson.ObjectId, MongoDB.Bson, Version=2.0.1.27, Culture=neutral, PublicKeyToken=null]]" behaviorConfiguration="DefaultServiceBehavior">
        <endpoint address="net.tcp://localhost:8810/Sanatana.NotificationsService/" binding="netTcpBinding" bindingConfiguration="MainTcp" name="MainTcpEndpoint" contract="Sanatana.Notifications.Endpoints.ISignalService`1[[MongoDB.Bson.ObjectId, MongoDB.Bson, Version=2.0.1.27, Culture=neutral, PublicKeyToken=null]]" />
        <endpoint address="net.tcp://localhost:8810/Sanatana.NotificationsService/mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <endpoint address="net.pipe://localhost/Sanatana.NotificationsService/" binding="netNamedPipeBinding" bindingConfiguration="MainNetNamedPipe" contract="Sanatana.Notifications.Endpoints.ISignalService`1[[MongoDB.Bson.ObjectId, MongoDB.Bson, Version=2.0.1.27, Culture=neutral, PublicKeyToken=null]]" />
        <endpoint address="net.pipe://localhost/Sanatana.NotificationsService/mex" binding="mexNamedPipeBinding" contract="IMetadataExchange" />
      </service>
    </services>-->
    <services>
      <service name="Sanatana.Notifications.SignalProviders.WCF.SignalService`1[[System.Int64, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]" behaviorConfiguration="DefaultServiceBehavior">
        <endpoint address="net.tcp://localhost:8810/Sanatana.NotificationsService/" binding="netTcpBinding" bindingConfiguration="MainTcp" name="MainTcpEndpoint" contract="Sanatana.Notifications.SignalProviders.WCF.ISignalService`1[[System.Int64, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]"/>
        <endpoint address="net.tcp://localhost:8810/Sanatana.NotificationsService/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <endpoint address="net.pipe://localhost/Sanatana.NotificationsService/" binding="netNamedPipeBinding" bindingConfiguration="MainNetNamedPipe" contract="Sanatana.Notifications.SignalProviders.WCF.ISignalService`1[[System.Int64, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]"/>
        <endpoint address="net.pipe://localhost/Sanatana.NotificationsService/mex" binding="mexNamedPipeBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="false"/>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.EntityFrameworkCore" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.EntityFrameworkCore.Relational" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.EntityFrameworkCore.SqlServer" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.SqlClient" publicKeyToken="23ec7fc2d6eaa4a5" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.10.19324.4" newVersion="1.10.19324.4"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
