<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SqlPrefix" value="msg_" />

    <!--SignaloBot.Demo.Client-->
    <add key="EmailFromAddress" value="sender@XXXX.XXX" />

    <!--SignaloBot.Demo.Sender-->
    <add key="SmtpServer" value="smtp.mail.ru" />
    <add key="Port" value="587" />
    <add key="EnableSsl" value="true" />
    <add key="Login" value="XXXXXX@XXXX.XXX" />
    <add key="Password" value="XXXXXXXXXXXXXXXXXXXX" />
        
    <!--SignaloBot.Amazon.Tests-->
    <add key="AmazonSenderEmail" value="sender@XXXX.XXX" />
    <add key="AmazonReceiverEmail" value="receiver@XXXX.XXX" />
    <add key="AWSAccessKey" value="XXXXXXXXXXXXXXXXXXXX" />
    <add key="AWSSecretKey" value="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" />
    <add key="AWSRegion" value="eu-west-1" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SignaloBot;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>