<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultServiceBehavior">
          <serviceMetadata httpGetEnabled="False" />
          <serviceDebug includeExceptionDetailInFaults="True" />
          <serviceThrottling maxConcurrentCalls="50" maxConcurrentSessions="50" maxConcurrentInstances="50" />
          <dataContractSerializer maxItemsInObjectGraph="1000" ignoreExtensionDataObject="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="MainTcp" portSharingEnabled="false" transferMode="Buffered"
                 openTimeout="00:00:30" closeTimeout="00:00:30" receiveTimeout="00:02:00"
                 sendTimeout="00:02:00" maxReceivedMessageSize="105000" maxBufferSize="105000"
                 maxBufferPoolSize="220000">
          <security mode="None">
            <message clientCredentialType="None" />
            <transport clientCredentialType="None" />
          </security>
          <readerQuotas maxStringContentLength="105000" maxDepth="25" maxArrayLength="1000"
                        maxBytesPerRead="105000" maxNameTableCharCount="105000" />
        </binding>
      </netTcpBinding>
      <netNamedPipeBinding>
        <binding name="MainNetNamedPipe">
          <security mode="None" />
          <readerQuotas maxStringContentLength="105000" maxDepth="25" maxArrayLength="1000"
                        maxBytesPerRead="105000" maxNameTableCharCount="105000" />
        </binding>        
      </netNamedPipeBinding>
    </bindings>
    <services>
      <service name="SignaloBot.Sender.Service.SignalService`1[[MongoDB.Bson.ObjectId, MongoDB.Bson, Version=2.0.1.27, Culture=neutral, PublicKeyToken=null]]"
               behaviorConfiguration="DefaultServiceBehavior">
        <endpoint address="net.tcp://localhost:8810/SignaloBot.Service/"
                  binding="netTcpBinding"
                  bindingConfiguration="MainTcp"
                  name="MainTcpEndpoint"
                  contract="SignaloBot.Sender.Service.ISignalService`1[[MongoDB.Bson.ObjectId, MongoDB.Bson, Version=2.0.1.27, Culture=neutral, PublicKeyToken=null]]" />
        <endpoint address="net.tcp://localhost:8810/SignaloBot.Service/mex"
                  binding="mexTcpBinding"
                  contract="IMetadataExchange" />
        <endpoint address="net.pipe://localhost/SignaloBot.Service/"
                  binding="netNamedPipeBinding"
                  bindingConfiguration="MainNetNamedPipe"
                  contract="SignaloBot.Sender.Service.ISignalService`1[[MongoDB.Bson.ObjectId, MongoDB.Bson, Version=2.0.1.27, Culture=neutral, PublicKeyToken=null]]" />
        <endpoint address="net.pipe://localhost/SignaloBot.Service/mex"
                  binding="mexNamedPipeBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="false" />
  </system.serviceModel>
  
</configuration>