<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="File" name="main"
            fileName="${basedir}/logs/log-${shortdate}.log"
            layout="${longdate:universalTime=true} UTC ${uppercase:${level}} ${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}${newline}"
            />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="main" />
  </rules>
</nlog>