<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_ISignalServiceOf_ObjectId">
                    <security mode="None" />
                </binding>
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding name="MainTcpEndpoint">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8810/SignaloBot.Service/"
                binding="netTcpBinding" bindingConfiguration="MainTcpEndpoint"
                contract="SignaloBot.Service.ISignalServiceOf_ObjectId" name="MainTcpEndpoint" />
            <endpoint address="net.pipe://localhost/SignaloBot.Service/"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_ISignalServiceOf_ObjectId"
                contract="SignaloBot.Service.ISignalServiceOf_ObjectId" name="NetNamedPipeBinding_ISignalServiceOf_ObjectId" />
        </client>
    </system.serviceModel>
</configuration>